<!DOCTYPE html>
<html lang="zh" class="">

<head>
<link rel="stylesheet" type="text/css" href="css/style1500628681675.css">
<meta charset="utf-8">
<title>吃了么-开店申请</title>
<meta name="description" content="吃了么-开店申请">
<meta id="viewport" name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="css/app.73972d6.css" rel="stylesheet">
<link href="css/app.cb72efe.css" rel="stylesheet">
</head>

<body ng-app="nevermore" class="ng-scope">
	<!-- uiView: -->
	<ui-view autoscroll="true" class="ng-scope"> <header
		class="row ng-scope ng-isolate-scope" show-user="false">
		<div>
			<!-- ngIf: showUser -->
			<!-- ngIf: !showUser -->
			<a ui-sref="home" class="title ng-scope" ng-if="!showUser" href="/">
				<span>吃了么商户中心</span>
			</a>
			<!-- end ngIf: !showUser -->
			<a class="notification-link" ng-click="openNotification()">点击查看《廉正告知书》</a>
			<!-- ngIf: showUser -->
			<!-- ngIf: !showUser -->
			<div class="pull-right tips ng-scope" ng-if="!showUser">
				<span>如开店过程遇到问题，可以拨打客服电话：021-80203777</span>
			</div>
			<!-- end ngIf: !showUser -->
		</div>
	</header>
	<div class="guide-title ng-scope">
		<p>准备好以下资料，申请开店更方便</p>
	</div>
	<div id="guide" class="ng-scope">
		<div class="content">
			<div class="box">
				<p class="box-title">必备证件</p>
				<div class="box-step">
					<span class="step">1</span> <span class="title">身份证照片</span> <span
						class="tips">证件照需清晰可辨认，不得使用复印件</span> <span class="img-box">
						<span>示例</span>
						<div class="directive-image-preview ng-isolate-scope"
							src="assets/ex-idcard_front.png">
							<img class="d-thumbnail" ng-src="assets/ex-idcard_front.png"
								alt="thumbnail" src="assets/ex-idcard_front.png"> <img
								class="d-preview" ng-src="assets/ex-idcard_front.png"
								alt="preview" src="assets/ex-idcard_front.png">
						</div>
					</span>
				</div>
				<div class="box-step">
					<span class="step">2</span> <span class="title">营业执照</span> <span
						class="tips">正面拍摄证件，照片需清晰可辨认，不得使用复印件</span> <span class="img-box">
						<span>示例</span>
						<div class="directive-image-preview ng-isolate-scope"
							src="assets/ex-qiyecard.png">
							<img class="d-thumbnail" ng-src="assets/ex-qiyecard.png"
								alt="thumbnail" src="assets/ex-qiyecard.png"> <img
								class="d-preview" ng-src="assets/ex-qiyecard.png" alt="preview"
								src="assets/ex-qiyecard.png">
						</div>
					</span>
				</div>
				<div class="box-step">
					<span class="step">3</span> <span class="title">餐饮行业许可证</span> <span
						class="tips">正面拍摄证件，照片需清晰可辨认，不得使用复印件</span> <span class="img-box">
						<span>示例</span>
						<div class="directive-image-preview ng-isolate-scope"
							src="assets/ex-canyingcard.png">
							<img class="d-thumbnail" ng-src="assets/ex-canyingcard.png"
								alt="thumbnail" src="assets/ex-canyingcard.png"> <img
								class="d-preview" ng-src="assets/ex-canyingcard.png"
								alt="preview" src="assets/ex-canyingcard.png">
						</div>
					</span>
				</div>
			</div>
			<div class="box border-bottom">
				<p class="box-title">准备资料</p>
				<div class="box-step">
					<span class="step">1</span> <span class="title">店内照片</span> <span
						class="tips">照片体现店铺环境，地面需干净，墙面无霉斑，图片不得有水印、logo和其他网站信息</span> <span
						class="img-box"> <span>示例</span>
						<div class="directive-image-preview ng-isolate-scope"
							src="assets/ex-shop.png">
							<img class="d-thumbnail" ng-src="assets/ex-shop.png"
								alt="thumbnail" src="assets/ex-shop.png"> <img
								class="d-preview" ng-src="assets/ex-shop.png" alt="preview"
								src="assets/ex-shop.png">
						</div>
					</span>
				</div>
				<div class="box-step">
					<span class="step">2</span> <span class="title">门脸照</span> <span
						class="tips">店面招牌和店面大门全景拍摄，图片不得有水印、logo和其他网站信息</span> <span
						class="img-box"> <span>示例</span>
						<div class="directive-image-preview ng-isolate-scope"
							src="assets/ex-front.png">
							<img class="d-thumbnail" ng-src="assets/ex-front.png"
								alt="thumbnail" src="assets/ex-front.png"> <img
								class="d-preview" ng-src="assets/ex-front.png" alt="preview"
								src="assets/ex-front.png">
						</div>
					</span>
				</div>
				<div class="box-step">
					<span class="step">3</span> <span class="title">商品照片</span> <span
						class="tips">对商品的拍摄照片，推荐使用45度真实拍摄的照片，照片不得有水印、logo和其他网站信息</span> <span
						class="img-box"> <span>示例</span>
						<div class="directive-image-preview ng-isolate-scope"
							src="assets/ex-food.png">
							<img class="d-thumbnail" ng-src="assets/ex-food.png"
								alt="thumbnail" src="assets/ex-food.png"> <img
								class="d-preview" ng-src="assets/ex-food.png" alt="preview"
								src="assets/ex-food.png">
						</div>
					</span>
				</div>
				<div class="box-step">
					<span class="step">4</span> <span class="title">商户logo</span> <span
						class="tips">符合商品气质的店铺标志</span> <span class="img-box"> <span>示例</span>
					</span>
				</div>
			</div>
		</div>
		<div class="button-content">
			<a class="btn btn-primary" href="applycommit.html">我已经准备好资料，进行开店申请</a>
		</div>
	</div>
	</ui-view>

</body>

</html>