<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<welcome-file-list>
		<welcome-file>/managerindex.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 加上字符编码过滤器 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<!-- 只是指定了编码格式 -->
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<!-- 进行请求乱码解决 -->
		<init-param>
			<param-name>forceRequestEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>forceResponseEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!--  设置REST风格的过滤器， 配置 -->
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>com.chilema.manager.controller.filter.MyFilter</filter-class>	
		<!-- 不拦截的请求 -->
		<init-param>
			<param-name>excludedPage1</param-name>
			<param-value>/managerindex.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>excludedPage2</param-name>
			<param-value>/toResetPage</param-value>
		</init-param>
		<init-param>
			<param-name>excludedPage3</param-name>
			<param-value>/forget.html</param-value>
		</init-param>
		<init-param>
			<param-name>excludedPage4</param-name>
			<param-value>/toManagerIndex</param-value>
		</init-param>
		<init-param>
			<param-name>excludedPage5</param-name>
			<param-value>/manager/reset</param-value>
		</init-param>
		<init-param>
			<param-name>excludedPage6</param-name>
			<param-value>/manager/checkemail</param-value>
		</init-param>
		<init-param>
			<param-name>excludedPage7</param-name>
			<param-value>/manager/checkaccount</param-value>
		</init-param>
		<init-param>
			<param-name>excludedPage8</param-name>
			<param-value>/manager/forget</param-value>
		</init-param>
		<init-param>
			<param-name>excludedPage9</param-name>
			<param-value>/manager/login</param-value>
		</init-param>
		<init-param>
			<param-name>excludedPage10</param-name>
			<param-value>/manager/regist</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/manager/*</url-pattern>
		<url-pattern>/complain/*</url-pattern>
		<url-pattern>/audi/*</url-pattern>
		<url-pattern>/main.html</url-pattern>
	</filter-mapping>
	
	<!-- 自定义的服务器生命周期监听器 -->
	<listener>
		<listener-class>com.chilema.manager.listener.MyAppListener</listener-class>
	</listener>

	<!-- 启动spring ioc容器 -->
	<!-- needed for ContextLoaderListener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring-*.xml</param-value>
	</context-param>

	<!-- Bootstraps the root web application context before servlet initialization -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>


	<!--启动springmvc的前端控制器 DispatcherServlet  -->
	<!-- The front controller of this Spring Web application, responsible for 
		handling all application requests -->
	<servlet>
		<servlet-name>springDispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- Map all requests to the DispatcherServlet for handling -->
	<servlet-mapping>
		<servlet-name>springDispatcherServlet</servlet-name>
		<!-- 拦截所有除了*.jsp的请求 -->
		<url-pattern>/</url-pattern>
	</servlet-mapping>

</web-app>